*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgba(72, 103, 23, 0.5);
    align-items: center;
} 
#profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: transparent
  /* object-fit: contain; */
  ;
}

#header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
    font-style:normal;
    background-color: transparent;
    text-decoration:none;
      
}


header nav ul li{
    display:inline-block;
    padding: 10px;
    background-color: transparent;
    text-decoration:none

}



.button {
    background-color: #04bc9d; /* Button background color */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 20px; /* Padding for button size */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #121515; /* Darker background on hover */
}



p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
    background-color: transparent
    ;
}

p strong {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
}

p em {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
}

nav{
   display: flex;
   gap: 20px;
}




footer nav ul li :hover{
    background-color: #040404; /* Button color */
    
}

#footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
      font-style:normal;
      background-color: transparent;
      text-decoration:none;
    }

    footer nav ul li{
        display:inline-block;
        padding: 10px;
        color: rgba(254, 255, 253, 0.5) ;
        background-color: transparent;
        text-decoration:none
    }

    .button {
        background-color: #04bc9d; /* Beige background for buttons */
        color: white; /* Change this to your desired text color */
        text-decoration: none; /* Remove underline */
        padding: 10px 20px; /* Padding for button size */
        border-radius: 5px; /* Rounded corners */
        transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    }


    
